@charset "utf-8";

/* 모바일용 css */
/* 기본 css */



#wrap{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;

    flex-flow: column nowrap;
}

/* 인포메이션 영역 css */

.info_section{
    order: 1;
    width: 100%;
    background-color: #2ecc71;
    border-bottom: 1px solid #39d67c;
}

.info_list{
    display: flex;
}

.info_list li{
    width: 25%;
    text-align: center;
    /* border: 1px solid black; */
}

.info_list li a{
    display: block;
    padding: 15px 0;
    padding: 0.938rem 0;
}


/* 헤더 영역 css */

.header{
    order: 2;
    width: 100%;
    position: relative;
}

.logo{
    width: 100%;
    padding: 30px 0;
    background-color: #2ecc71;
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow: 0px 1px 1px #25ab5e;
    line-height: 25px;
}

.nav{
    width: 100%;
}

.gnb{ display: none ;}

.gnb li{
    background-color: #2c3e50;
    display: flex;
}

.gnb li a{
    width: 80%;
    color: white;
    font-weight: bold;
    font-size: 15px;
    /* font-size: 0.937rem; */

    padding: 20px 0;
    padding: 1.25rem 0;

    text-indent: 20px;
    text-indent: 1.25rem;
}

.gnb li span{
    padding: 20px 0;
    width: 20%;
    height: 15px;
    text-indent: -9999px;
    background: url(../images/s_images/sub_menu_toggle_btn.png) no-repeat center center;
    cursor: pointer;
}


.menu_toggle_btn{
    display: block;
    background:url("../images/s_images/menu_toggle_btn.png") no-repeat;
    width: 30px;
    height: 30px;
    text-indent: -99999px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}


/* 슬라이드 영역 css*/

.slider_section{
    order: 3;
    width: 100%;
    height: 300px;
    background: url(../images/p_images/slider_01.jpg) no-repeat center center;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider_section span{
    width: 34px;
    height: 39px;
    
    /* 스판은 inline이라 그냥은 안 먹힘 */
    text-indent: -99999px;

    cursor: pointer;
    
    background: url(../images/s_images/slider_arrow.png) no-repeat;
} 

span.perv_btn{
    margin-left: -10px;
}
span.next_btn{
    background-position: right center;
    margin-right: -10px;
}

/* 최근/인기글 영역 css */

.last_post_section{
    order: 4;
    width: 100%;
    
    background-color: #ffc40f;
    color: white;
    text-shadow: 0px 1px 1px #b98e0b;
}

.popular_post_section{
    order: 5;
    width: 100%;
    
    background-color: #a660c2;
    color: white;
    text-shadow: 0 1px 1px #714185;
}


.title{
    text-align: center;
    margin-bottom: 30px;
    font-style: 18px;
    color: white;
}

.last_post_section, .popular_post_section{
    padding: 40px 12.5%;
}

.last_post_section li, .popular_post_section li{
    margin-top: 15px;
    /* list-style: circle; */
    background: url(../images/s_images/post_circle_icon.png) no-repeat left center;
    padding-left: 15px;
    font-weight: bold;
} 

.last_post_section li:first-child, .popular_post_section li:first-child{
    margin-top: 0 !important;
}


/* 갤러리 영역 */

.gallery_section{
    order: 6;
    padding: 50px 12.5%;
    text-align: center;
    background-color: #ef655d;
    text-shadow: 0 1px 1px #c43434;
    color: white;

}

.gallery_section img{
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    box-shadow: 0px 1px 1px #c43434;
}

.gallery_list{}

.gallery_list li{}


.gallery_list li:last-child{
    margin-top: 30q;
}

.gallery_list li figcaption{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}


/* 인기검색어 영역 css */

.rankup_section{
    order: 7;
    padding: 40PX 12.5%;
    background-color: #219af7;
    text-shadow: 0px 1px 1px #1974ba;
    color: white;
}

.rankup_list{
    /* flex 구조로 가려면 li의 부모에 걸어야 함 */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rankup_list li{
    width: 48%;
    margin-top: 15px;

}

.rankup_list li:nth-child(1),
.rankup_list li:nth-child(2){
    margin-top: 0 !important;
}

.rankup_list li a{
    display: block;
    border: 1px solid white;
    padding: 10px 0;
    text-align: center;

    border-radius: 5px;
    font-weight: bold;
}

/* 배너 영역 css */

.banner_section{
    order: 8;
}

.banner_box01{
    background-color: #e6567a;
}

.banner_box01 a{
    display: block;
    padding: 30px 0;
    text-align: center;
}

.banner_box02{
    background-color: #c44968;
}

.banner_list{
    display: flex;
    justify-content: space-between;
    padding: 30px 12.5%;
}


/* sns 영역 css */

.sns_section{
    order: 9;
    background-color: #fff;
    padding: 30px 12.5%;
}

.sns_list{
    display: flex;
    justify-content: space-between;
}



/* footer 영역 */

.footer{
    order: 10;
    width: 100%;
    background-color: #474747;
}

.footer p{
    padding: 20px;
    color: white;
    font-size: 10px;
    text-align: center;
    /* font-weight: bold; */
    text-transform: uppercase;
}



/* 태블릿용 CSS 768px */


@media screen and (min-width:768px) {

    #wrap{
        width: 90%;
    }

    /* 헤더 영역 */




    
} /* 태블릿용 - min-width:768px */







/* PC용 CSS 960px */


@media screen and (min-width:960px) {




    
} /* PC - min-width:960px */